<section class="row">
    <h2>Create a site</h2>

    <form phx-submit="new">
        <div class="flex space-y-2 flex-col">
            <input name="title" />
            <input name="url" />
        </div>
                
        <button type="submit">Submit</button>
    </form>
</section>
