<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Voicepilot" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="m-12 bg-no-repeat h-[100vh] bg-gradient-to-b from-gray-800 to-gray-900">
    <div class="">
      <a href="/">
        <img src={~p"/assets/logo.svg"} />
      </a>
    </div>
    <ul class=""></ul>
    <%= @inner_content %>
  </body>
</html>
